 <!-- intro-->

    <section id="intro" style="background-image: url('img/kick-off.jpeg');" class="intro">      
      <div class="overlay"></div>
      <div class="content">
        <div class="container clearfix">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 padding-small">
                <h1 style="text-align: center">Next Kick Off In :</h1><br>
              <h2 id="timer" ></h2>         
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- intro end-->    


<!--News Feed-->    
    <section id="about" class="text">     <div class="container marketing">
    <h2 class="heading">Latest News</h2>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-responsive" src="/img/Sanchez.png" alt="Generic placeholder image">
          <h4>Sanchez completed signing for Man United</h4>
          <p>After days of rumours and news, sachez finally joins Man United in a swap deal where Henrikh Makhitaryan goes to Arsenal</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-responsive" src="/img/aubameyang-arsenal.png" alt="Generic placeholder image" >
          <h4>Aubameyang on his way to Arsenal</h4>
          <p>In a current transfer updates, its seems that Aubameyang will finally join arsenal, although it is not sure yet but it suppose to be comleted before the transfer windows closes</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-responsive" src="/img/jose-mourinho.png" alt="Generic placeholder image" >
          <h4>Mourhino Signs new Contract Deal</h4>
          <p>Mourhino signs a new contract with Man United where he will be Man United manager till 2020, he says that club has trust on him and he is very happy here and will take the club to its old Glory days</p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </section>

    <!-- News Feed-->  
        
        
        
    <!-- Gallary-->    
    <section id="portfolio">
      <div class="container clearfix">
        <div class="row">
          <div class="col-md-12">
           <div class="container">
              <h2 class="heading">Gallary</h2>
              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    
                      <img src="/img/gallary1.png" alt="Lights" style="width:100%">
                      <div class="caption">
                        <p>Photo 1</p>
                      </div>
                    
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    
                      <img src="/img/gallary2.png" alt="Nature" style="width:100%">
                      <div class="caption">
                        <p>Photo 2</p>
                      </div>
                    
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    
                      <img src="/img/gallary3.png" alt="Fjords" style="width:100%">
                      <div class="caption">
                        <p>Photo 3</p>
                      </div>
                   
                  </div>
                </div>
              </div>
            </div>

     
    </div>
</div>
</div>
</section>
<!-- Gallary-->              
        